body {
    padding: 0;
    margin: 0;
    background-color:rgb(240, 242, 245);   /* #f0f2f5*/
    font-family: Arial, Helvetica, sans-serif;
}
.textbox {
    margin-top:200px;
    margin-left:280px;
}
h1{
    font-size: 55px;
    color:rgb(24,119,242);  
    font-family: sans-serif;
}
h2{
    font-family:Arial;
    font-size: 28px;
    font-weight: normal;
    width:550px;
    line-height: 35px;
}
.container{ 
    width: 100px;
    height: 20px;
    margin-top: -279px;
    margin-right: 250px;
    background-color: white;
    float: right;
    border-radius: 8px;
    width: 410px;
    height: 355px;
    text-align: center;
}
.log-form{
    float: right;
    background-color: white;
    margin-top: -12px;
    padding: 20.2px;
    border-radius: 5px;
}
.log-form input{
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 27px;
    border-radius: 8px;
    width: 332px;
    height: 2px;
    border-color: white;

}
button{
    margin-top: 5px;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border-color: rgb(24,119,242);
    background-color: rgb(24,119,242);
    color:white;
    font-family: sans-serif;
    font-size: 10px;
}
p{
    background-color: white;
    font-size: 16px;
    color: rgb(24,119,242);
    margin-top: 15px;
}
p a{
    color: rgb(24,119,242);
    background-color: white;

}
.create-btn{
    padding: 10px;
    background-color:white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
}
.create-btn button{
    background-color: rgb(45, 189, 55);
}
.create{
    background-color: rgb(240, 242, 245);
    color:black;
    text-align: center;
    margin-top: 100px;
    margin-right: -390px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.create a{
    background-color: rgb(240, 242, 245);
    color: black;
}
